<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Seo -->
	<title>Plachy Tomas | Skills demonstration 2</title>

	<!-- Meta -->
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="f3l1x">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" defer>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Plachy Tomas - skills demonstration 2</a>
</nav>

<div class="row">
	<div class="col-xs-12 col-sm-10 offset-md-1">
