{*{dump $element}*}
<div class="form-group">
	<input type="submit"
		   {if !empty($element->getValueAttribute())}value="{$element->getValueAttribute()}"{/if}
			{if !empty($element->getIdAttribute())}id="{$element->getIdAttribute()}"{/if}
			{if !empty($element->getClassAttribute())}class="{$element->getClassAttribute()}"{/if}
			{if !empty($element->getStyleAttribute())}style="{$element->getStyleAttribute()}"{/if}
	/>
</div>


