{*{dump $element}*}
<div class="form-group">
	<div class="form-check">

		<input
				{if !empty($element->getTypeAttribute())}type="{$element->getTypeAttribute()}"{/if}
				{if !empty($element->getNameAttribute())}name="{$element->getNameAttribute()}"{/if}
				{if !empty($element->getValueAttribute())}value="{$element->getValueAttribute()}"{/if}
				{if !empty($element->getIdAttribute())}id="{$element->getIdAttribute()}"{/if}
				{if !empty($element->getClassAttribute())}class="{$element->getClassAttribute()}"{/if}
				{if !empty($element->getStyleAttribute())}style="{$element->getStyleAttribute()}"{/if}
		/>
		<label class="form-check-label"
			   {if !empty($element->getIdAttribute())}for="{$element->getIdAttribute()}"{/if}
				n:if="!empty($element->getHtmlContent())">
			{$element->getHtmlContent()|noescape}
		</label>
	</div>
</div>

